a {
  color: white;
}

// Landing Screen
.homescreen {
  padding: 24em 0;
  background: url("../images/space-background.jpg") top left no-repeat;
  background-size: cover;
}

// About Screen
.aboutscreen {
  padding: 10em 2em 5em;

  a {
    font-size: 40px;
  }

  & .profile-pic {
    max-width: 20em;
    border-radius: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  & .resume {
    font-size: 22px;
  }

  p {
    font-size: 18px;
  }

  button {
    padding: 1rem 3rem;
    font-size: 20px;
  }
}

// Education Screen
.badges img {
  max-width: 300px;
  transition: transform 0.2s;
  min-width: 240px;

  &:hover {
    transform: scale(1.25);
    cursor: pointer;
  }
}

// Project Screen

@media screen and (min-width: 992px) {
  .project-bg {
    display: none;
  }

  .img-container {
    position: relative;

    img {
      width: 85%;
      display: block;
      height: auto;
      transition: 0.5 ease;
      backface-visibility: hidden;
    }

    & .buttons {
      position: absolute;
      top: 50%;
      left: 44%;
      border: none;
      cursor: pointer;
      opacity: 0;
      border-radius: 5px;
      transform: translate(-50%, -75%);
      -ms-transform: translate(-50%, -75%);
      text-align: center;

      a,
      button {
        font-size: 18px;
      }
    }

    &:hover {
      img {
        opacity: 0.3;
      }

      & .buttons {
        opacity: 1;
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .img-container {
    img {
      display: none;
    }

    & .buttons {
      text-align: center;
      padding-top: 3rem;
    }
  }

  .project-item {
    position: relative;
    z-index: 1;
    text-shadow: 4px 4px 8px #000;
    padding-bottom: 3rem;

    & #hero-dojo-background {
      position: absolute;
      z-index: -1;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: url("../images/HeroDOJO.png") top left no-repeat;
      opacity: 0.25;
      width: 100%;
      height: 100%;
    }

    & #godzilla-background {
      position: absolute;
      z-index: -1;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: url("../images/godzilla-trivia.png") top left no-repeat;
      opacity: 0.25;
      width: 100%;
      height: 100%;
    }
    & #enigma-background {
      position: absolute;
      z-index: -1;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: url("../images/enigma.png") top left no-repeat;
      opacity: 0.25;
      width: 100%;
      height: 100%;
    }
    & #tattoo-background {
      position: absolute;
      z-index: -1;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: url("../images/tattoo.png") top left no-repeat;
      opacity: 0.25;
      width: 100%;
      height: 100%;
    }
  }
}
